.wraper {
  overflow: hidden;
}

.historyContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.historyContainer h2 {
  margin-top: 1rem;
  /* text-align: center; */
}
.itemContainer {
  width: 100vw;
  max-height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden; /* Añade una barra de desplazamiento vertical si es necesario */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  /* border: 1px solid #ccc;  */
  /* Borde para visualizar el contenedor */
}
.itemContainer::-webkit-scrollbar {
  width: 10px; /* Ancho del scrollbar vertical */
}

.itemContainer::-webkit-scrollbar-thumb {
  background-color:  rgba(103, 186, 238, 0.95) ;
  border-radius: 5px; /* Borde redondeado del thumb */
}

.itemContainer::-webkit-scrollbar-thumb:hover {
  background-color:  hsl(224, 36%, 15%); 
}
.itemContainer::-webkit-scrollbar-track {
  background-color:inherit;  /* Color de fondo del track (área del scrollbar) */
}

.historyItem {
  display: flex;
  justify-content: end;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(103, 186, 238, 0.95);
}
.headerHistory {
  display: flex;
  justify-content: end;
}
.headerHistory p {
  font-size: medium;
}
.expression {
  font-size: medium;
  margin-right: 0.8rem;
}
.button {
  background-color: inherit;
  border: none;
}
.buttondelete {
  padding: 0;
  color: inherit;
  background-color: inherit;
  /* width: 5rem; */
}
.result {
  color: rgba(103, 186, 238, 0.95);
  font-size: x-larger;
}
.footerHistory {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .itemContainer {
    width: 80vw;
  }
  .historyItem {
    padding: 1rem;
    width: 100%;
    height: 80%;
    gap: 5px;
    margin-bottom: 0.5rem;
  }
}
/* Estilos específicos para pantallas de 1024px o más */
@media (min-width: 1024px) {
  .itemContainer {
    width: 50vw;
  }
  .historyItem {
    width: 100%;
    height: 70%;
  }
}
