
.historyContainer{
display: flex;
flex-direction: column;
align-items: center;
width: 100vw;
height: 100vh;
padding: 1rem;
}

.historyItem{
    margin-bottom: 1rem;
    display: flex;
    justify-content: end;
   flex-direction: column;
    gap: 5px;
    width: 70vw;
    height: 55px;
    margin-bottom: 1rem;;
    border-bottom: 1px solid   rgba(103, 186, 238, 0.95);;
}
.headerHistory {
    display: flex; 
    justify-content: end;
    
}
.expression {
    font-size: medium;
    margin-right: 0.8rem;;

}
.button {
    background-color: inherit;
    border: none;
}
.result {
    color:  rgba(103, 186, 238, 0.95);
    font-size: x-larger;
}

@media (max-width: 800px) {
    .historyItem{
        padding: 1.5rem;
        width: 100%;
        height: 85px;
    }
}